__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea

clip/models/
Tmp.zip
*.out

house_patches_final/
saved_max_patches/
yoloOutput/
output/yolo_boxed.jpg
*.pt